//mixins

@mixin my-gradient{
  background-image: url("../images/dog-2.jpg");
  //background-image: linear-gradient(to left, url("../images/dog-2.jpg"), $brand-secondary);
  color: darkgray;
  background-position: left;
}



@mixin my-size{
  width: 100%;

}
@mixin my-text{
  margin-left: 2vw;
  font-weight: bolder;
  color: black;
}

@mixin my-card{
background: linear-gradient(to left, $piglet-1, $piglet-2);
height: 420px;
}

@mixin my-card-img{
  position: relative;
  height: 200px;

}

@mixin my-card-button{
  background-color: green;
  color: whitesmoke;
  padding: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
}

@mixin my-card-button-hover {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}
@mixin my-progress{
  margin-bottom: 30px;
}
